.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #f9f9f9;
    .homeBanner {
        width: 100%;
        height: 600px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.29);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .about {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        h2 {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
            margin-top: 5rem;
        }
        .content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 3rem;
            padding: 5rem;
            width: 90%;
            margin:  0 auto;
            .card {
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                background-color: #fff;
                padding:2rem;
                img {
                    width: 150px;
                }

                p {
                    text-align: center;
                    font-size: 14px;
                    margin: auto;
                }
            }
        }
        
    }
    .advantage {
        display: flex;
        flex-direction: column;
        h3 {
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            margin-top: 5rem;
        }
        .content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 3rem;
            padding: 5rem;
            width: 90%;
            margin:  0 auto;
            .card {
                width: calc(100% / 3.5);
                height: 300px;
                position: relative;
                img {
                    width: 100%;
                    object-fit: cover;
                }

                p {
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 1rem;
                    background-color: #000;
                    color: #fff;
                    text-align: center;
                    font-size: 14px;
                    margin: auto;
                }
            }
        }
    }
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        margin-bottom: 5rem;
        h3 {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
        }
        .contactForm {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            max-width: 1000px;
            width: 90%;
            margin: 0 auto;
            textarea {
                width: 100%;
                height: 200px;
                padding: 1rem;
                border: none;
                font-size: 1rem;
                transition: border-color 0.2s ease-in-out;
                background-color: #ffffff;
                &:focus {
                    background-color: #d6d6d6;
                    border: 0;
                    outline: 0;
                }
            }
            button {
                width: fit-content;
            }
        }
    }
}